body {
    font-family: "Lato", sans-serif;
}

h2 {
  color: #76323F;
}

.vertical-center {
  min-height: 100%;  
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #565656;
    overflow-x: hidden;
    padding-top: 20px;
    color: #D7CEC7;
}

.sidenav a {
    text-decoration: none;
    font-size: 12px;
    color: #C09F80;
}

.sidenav a:hover {
    color: #D7CEC7;
}

.sidenav-section {
    width: 100%;
}

.main {
    margin-left: 30%;
    font-size: 12px;
    background-color: #565656;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 50px;
    width: 70%;
    color: #C09F80;
}

.main-section {
    font-size: 12px;
    margin-bottom: 50px;
    padding-left: 10px;
    border-left: 4px dotted #D7CEC7;
}

@media screen and (max-height: 450px) {
    .sidenav { padding-top: 15px; }
    .sidenav a { font-size: 18px; }
}